.tickets-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.btn {
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 3px;
  margin-bottom: 1.25rem;
}

.no-filters {
  font-weight: 600;
  font-size: 0.875rem;
  text-align: center;
}
